body {
  font-family: "Open Sans", Helvetica, sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 1.42;
background: #001821;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
/* overflow: hidden; */
}

a {
  color: inherit;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
}

p {
  margin-top: 0px;
}

* {
  box-sizing: border-box;
}

/* img {
  display: block;
  max-width: 100%;
} */

body, html {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
  min-width: 1200px;
}


.main-page-wrapper {
  background: url("./img/1.png") center top -9px no-repeat, url("./img/2.png") center bottom 200px no-repeat;
}

.container {
  margin: 0 auto;
  width: 1141px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 766px;
}

.header {
  padding-top: 19px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__col {
  display: flex;
  align-items: center;
}

.header__col--align--right {
  justify-content: flex-end;
}

.logo {
  display: block;
  margin-right: 79px;
}

/* .menu {

} */

.contacts {
  font-style: normal;
  text-align: right;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
}

.contacts__phone {
  text-decoration: none;
  font-size: 26px;
  margin-bottom: 4px;
}

.contacts__dropdown-title {
   font-size: 13px;
  text-decoration: underline;
   margin-top: -8px;
   margin-right: 3px;
}

.menu__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 50px;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  font-size: 14px;
  text-decoration: none;
  align-items: center;
}

.hero__text-section {
  width: 50%;
  margin-bottom: 245px;
}

.hero__title {
  font-size: 72px;
  font-weight: bold;
  line-height: 1.36;
  margin-bottom: 24px;
}

.hero__subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.btn {
  background: #F5170E;
  border-radius: 35px;
  padding: 18px 40px;
  color: #FFFFFF;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.section {
  margin-bottom: 127px;
}

.section__title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 50px;
}

.offers {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  /* min-width: 362px; */
  width: calc(100% / 3 - 18px);
  min-height: 449px;
  background: #FFFFFF;
  border-radius: 5px;
}


.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 144px;
}

.offers__content {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 27px 22px;
}

.offers__title {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 14px;
}

.offers__icon {
  margin-right: 17px;
  margin-bottom: 15px;
  display: flex;
  height: 107%;
  justify-content: flex-start;
  align-items: center;
}


.offers__icon-desc {
  color: #666666;
  font-size: 16px;
  display: inline-block;
  margin-right: 23px;
}

.offers__icon-desc:last-child {
  margin-right: 0;
}

.offers__desc {
  color: #303030;
  font-size: 14px;
  min-height: 63px;
  margin-bottom: 24px;
}

.wrapper__btn2 {
  display: flex;
  justify-content: flex-start;
}

.btn2 {
  background: #fff;
  border: 1px solid #F5170E;
  border-radius: 35px;
  padding: 17px 30px;
  color: #F5170E ;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  
/* НУЖНО СДЕЛАТЬ ВЫРАВНИВАНИЕ КНОПКИ ВНИЗ ПРИ УВЕЛИЧЕНИИ СОДЕРЖИМОГО КОНТЕНТА В БЛОКЕ */

}
.btn2:hover {
  background-color: #F5170E;
  color: #fff;
}

.news__item {
  margin-right: 2%;
  flex: 1;
}

.single--news {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.news__item:last-child {
  margin-right: 0;
}

.news__cover {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news__text-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 29px;
  min-height: 165px;
}

.news__date {
  font-size: 14px;
  margin-bottom: 15px;
}

.news__title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 9px;
}

.news {
  margin-bottom: 46px;
  display: flex;
  justify-content: space-between;
}

.pager {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pager__list {
  display: flex;
  align-items: center;
}

.pager__display {
  margin-right: 30px;
}

.pager__item--active .pager__link {
  background: #FFFFFF;
  color: #F5170E;
}

.pager__link:hover {
  background: #FFFFFF;
  color: #F5170E;
}

.pager__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px; 
}

.pager__theme--light {
  color: #000;
}

.pager__theme--light .pager__item--active .pager__link {
  background: #F5170E;
  color: #FFFFFF;
}

.pager__theme--light .pager__link:hover {
  background: #F5170E;
  color: #FFFFFF;
}

.about {
  display: flex;
}

.about::before {
  background: url("./img/gates.png") center center / cover no-repeat;
  content: "";
  display: block;
  width: 490px;
  height: 505px;
  margin-top: 16px;
}

.about__desc {
  background: url("./img/mountains.png") center;
  min-height: 455px;
  width: 785px;
  height: 455px;
  padding: 64px 201px 45px 83px;
  color: #000;
  margin-left: -138px;
  margin-top: 113px;
  line-height: 1.65;
}

.about__title {
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 37px;
}

.about__desc-text {
  margin-bottom: 43px;
}

.about__desc-text p {
  margin-bottom: 20px;
}

.about__desc-text:last-child {
  margin-bottom: 0px;
}

.footer__container--content {
  /* background: #FFFFFF;
  width: 1142px;
  height: 1px;
  margin: auto; */
  border-top: 1px solid #FFFFFF;
  opacity: 0.1;
  mix-blend-mode: normal;
}

/* .footer__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: auto;
} */

.main-page__footer {
  margin-top: -72px;
  padding-top: 44px;
  margin-bottom: 60px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.footer {
  display: flex;
  align-items: center;
  position: relative;
  /* margin-top: 50px; */
  /* margin-bottom: 57px; */
  justify-content: space-between;
  mix-blend-mode: normal;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  justify-content: flex-end;
}

.socials {
  display: flex;
  margin-right: 74px;
}

.socials__item {
  vertical-align: middle;
  margin-right: 10px;
}

.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  display: block;
  text-decoration: none;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.socials__item--tg .socials__link {
  background-image: url("./img/telegram.png");
}

.socials__item--vk .socials__link {
  background-image: url("./img/vk.png");
}

.socials__item--fb .socials__link {
  background-image: url("./img/f.png");
}

.socials__item--inst .socials__link {
  background-image: url("./img/in.png");
}

.contacts__title {
  color: #9A9A9A;
  font-size: 11px;
}

/* Services Page */

.top-line {
  min-height: 412px;
  background: url("./img/headline/headline\ 1.png")right 10% no-repeat;
  display: flex;
  flex-direction: column;
  padding-bottom: 24px;
}

.top-line__container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
}

.page-title {
  font-size: 72px;
  line-height: 1;
  font-weight: bold;
  margin-bottom: 15px;
}

.breadcrumbs__list {
  display: flex;
  align-items: center;
}

.breadcrumbs__item {
  color: #9A9A9A;
  font-size: 14px;
  line-height: 16px;
  padding-right: 3px;

}

.breadcrumbs__item:after {
  content: "/";
  color: #9A9A9A;
}

.breadcrumbs__item:last-child:after {
  display: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  font-weight: bold;
}

.top-line__header {
  padding-top: 28px;
  margin-right: 0;
  margin-bottom: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big__logo {
  margin-right: 67px;
}

.big__logo__footer {
  margin-right: 67px;
}

.page-content {
  background: #F2F2F2;
  color: #303030;
  padding-top: 98px;
  padding-bottom: 86px;
}

.service {
  display: flex;
  margin-bottom: 45px;
}

.service__img {
 width: 41%;
 margin-right: 50px;
}

.service__content {
  flex: 1;
}

.service__title {
  font-size: 36px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 26px;
  color: #000000;
}

.service__desc {
  line-height: 27px;
  margin-bottom: 34px;
}

.btn3 {
  background: #F2F2F2;
  border-radius: 35px;
  padding: 18px 40px;
  border: 1px solid #F5170E;
  color: #F5170E;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}

.btn3:hover {
  background-color: #F5170E;
  color: #fff;
}

.services {
  margin-bottom: 56px;
}

.inner-section {
  background: #F4F5F5;
  padding: 85px 0 66px 0;
}

.inner-section__title {
  color: #1A1B1E;
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 43px;
}

.partners__link {
  text-decoration: none;
  display: flex;
  width: 250px;
  height: 137px;
  justify-content: flex-start;
  align-items: center;
}

.partners {
  display: flex;
  flex-wrap: wrap;
}

.partners__item {
  margin-left: 47px;
}

.partners__item:nth-child(4n +1) {
  margin-left: 0;
}

.partners__item:nth-child(6n) {
  margin-left: 30px;
}

.partners__item:nth-child(7n) {
  margin-left: 0px;
}

.partners__item:nth-child(8n) {
  margin-left: 107px;
}

.inner-footer__container {
  padding: 47px 0 33px 0;
}